.label{
  	font-family: "Helvetica", cursive;
  	color: dark;
  	font-weight: bold;
  	color: #daa520    ;
  	font-size: 2em;
  	font-weight: 500;
}

.header h1{
	color: #b22222  ;
	font-size: 3em;
  	line-height: 1em;
  	font-weight: bold;
  	
} 
