.products {
	padding: 1rem;

}

.productMenu {
	font-weight: bold;
	font-family: "Poppins", sans-serif;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.productList {
	font-family: "Poppins", sans-serif;
	justify-content: space-between;
	display: flex;
	padding-bottom: 3rem;
	padding-right: 1rem;
	padding-left: 1rem;
}