
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 5%;
}

.content {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  padding: 5px;

}

.landingImg {
  width: 100%;
  float: right;
  padding: 3rem;
  justify-content: center;

}

.home .content h1{
  color: #b22222  ;
  font-size: 3.5em;
  line-height: 1em;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: justify-all;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.home .content p{
  color: #daa520    ;
  font-size: 2em;
  font-weight: 500;
  text-align: justify-all;
  padding-top: 3px;
  padding-bottom: 5px;
  
}

.home .content .link{
  display: inline-block;
  margin-top: 5px;
  padding: 5px 15px;  
  border-radius: 25px;
  background-color: #2f4353;
  background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
}

.home .content .link .label {
  color: #b22222;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}